$primary: #292929;
$secondary: #FF7A00;
$dark: #191919;
$body-color: white;
$link-color: #FF7A00;

$navbar-dark-active-color: #FF7A00;
$navbar-dark-color: white;
$navbar-dark-brand-color: white;
$navbar-dark-brand-hover-color: white;

$table-striped-bg: #3A3A3A;
$table-bg: #303030;
$table-border-width: 0px;
$table-border-color: rgb(87, 87, 87);
$table-striped-color: black;
$table-color: black;

$table-cell-padding-y: 0;
$table-cell-padding-x: 0;

$font-family-base: 'Cairo', sans-serif;

$tooltip-color:white;
$tooltip-bg: #e17816;

@import "../node_modules/bootstrap/scss/bootstrap.scss"