$primary: #292929;
$secondary: #FF7A00;
$dark: #191919;
$body-color: white;

$navbar-dark-active-color: #FF7A00;
$navbar-dark-color: white;
$navbar-dark-brand-color: white;

@import "../node_modules/bootstrap/scss/bootstrap.scss"