@charset "utf-8";

ul{
    list-style: none;
    display: flex;
}

li{
    padding-right: .5em;
}

h1{
    text-align: center;
    margin-left: .2em;
    margin-right: 3.8em;
    font-weight: bolder;
}

h4{
    margin-bottom: 0;
}

.faq{
    margin-right: .8em;
}
.main{
    margin-top: .2em;
}
/* Typography styling */
.dsa{
    font-size: .75em;
    font-weight: 100;
    margin-left: 5em;
    margin-top: 3em;
}

.runs{
    font-size: .8em;
    font-style: italic;
}

.p-thin{
    font-weight: 300;
}

/* T_head flexbox */
.t_head{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
}

.affixlist{
    flex-direction: column;
    padding-left: 0;
    margin-left: 5.8em;
}

.affixtext{
    justify-content: right;
    padding-top: 1rem;
    padding-left: 0;
    text-align: center;
}

.affiximg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: .5px;
    filter: drop-shadow(3px 2px 3px rgb(26, 26, 26));
    width: 62px;
    transition: filter 0.05s;
}

td img{
    border-radius: 4px;
}

/* Weekly affix styling */
.affiximg > img{
    padding-left: 1em;
    width: 85px;
    border: none;
}

/* Tlist catgory icon styling */
.t_head > img{
    border: none;
    filter: none;
    margin-right: 1em;
}

.d_ease{
    max-width: 32px;
    max-height: 48px;
    margin-top: .3em;
}

.tank{
    max-width: 40px;
    max-height: 48px;
    margin-top: .2em;
}

.heal{
    max-width: 43px;
    max-height: 43px;
    margin-top: .3em;
}

.mdps{
    max-width: 44px;
    max-height: 48px;
    margin-top: .3em;
}

.rdps{
    max-width: 55px;
    max-height: 50px;
}

.dsa-rdps{
    margin-left: 4em;
}

.t_list{
    min-width: 30%;
}

.tier-header-text{
    position: absolute;
    margin-top: -1.7em;
    margin-left: .45em;
    font-weight: 900;
}

.tier-header-img{
    width: 60px;
    border: none;
    filter: none;
}

/* Tlist image hover */
td img:hover{
    filter: drop-shadow(0px 0px 7px rgb(167, 167, 167));
    border-style: solid;
    border-color: rgb(168, 168, 168);
    border-width: 1px;
}

/* Table layout */
th{
    width: 70px;
}

th h1{
    text-align: left;
}

td > a{
    margin: .7em;
}

table{
    border-width: 1px;
    border-style: solid;
    table-layout: fixed;
}


/* Footer styling */
.footer{
    background-image: url(assets/footer/footer-img.png);
    padding: 2em;
    margin-top: 3em;
}

.styled{
    padding-left: 0;
    margin-bottom: 2em;
}

.styled > li:nth-child(n + 2){
    padding-left: 1.5em;
}

.footer > p{
    font-weight: 300;
    font-size: .9em;
}


/* Dropdown nav styling */

.top-build{
    padding-left: .5em;
}

.dropdown-item > img{
    max-width: 25px;
    filter: none;
    margin-right: .7em;
    /* border: #FF7A00 solid 1px; */
    border: none;
}

.dropdown-menu > li{
    padding: 0;
}

/* Video styling */

.video-container{
    max-width: 100%;
    display: flex;
}

.video-crop{
    width:  33.33%;
    overflow: hidden;
    fill: black;
}

.main-video{
    object-fit: fill;
    width: 100em;
/*     opacity: 50%; */
    filter: brightness(30%);
}

.main-video:hover{
    opacity: 100%;
    filter: brightness(50%);
}

#mplus {
    margin-left: -28em;
}

#raid {
    margin-left: -30em;
}

#pvp {
    margin-left: -27em;
}

.index-ft{
    margin-top: -6px;
}

.video-crop h1{
    margin: 0;
    padding: 0;
    padding-bottom: .1em;
}

.video-crop h4{
    font-weight: 100;
    font-size: 1.2rem;
}

.video-crop div{
    position: absolute;
    top: 50%;
    z-index: 1;
    color: white !important;
}

.mplus-text{
    margin-left: 16em;
}

.raid-text{
    margin-left: 8em;
}

.pvp-text{
    margin-left: 15em;
}