@charset "utf-8";

ul{
    list-style: none;
    display: flex;
}

li{
    padding-right: .5em;
}

h1{
    text-align: center;
}

.affixlist{
    flex-direction: column;
    padding-left: 0;
}

.affixtext{
    justify-content: center;
    padding-top: 1rem;
}

.affiximg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table{
    border-width: 1px;
    border-style: solid;
}

img{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    filter: drop-shadow(3px 2px 3px rgb(14, 14, 14));
    width: 62px;
}

.affiximg > img{
    padding-left: .5em;
    width: 70px;
    border: none;
}

.t_list{
    min-width: 30%;
}

.tier-header-text{
    position: absolute;
    margin-top: -1.7em;
    margin-left: .45em;
    font-weight: 900;
}

.tier-header-img{
    width: 60px;
    border: none;
    filter: none;
}

th{
    max-width: 40px;
}

td > a{
    margin: .7em;
}