@charset "utf-8";

ul{
    list-style: none;
    display: flex;
}

li{
    padding-right: .5em;
}

h4{
    margin-bottom: 0;
}

.faq{
    margin-right: .8em;
}
.main{
    margin-top: .2em;
    margin-left: 48px;
}
/* Typography styling */
.dsa{
    font-size: .75em;
    font-weight: 100;
    margin-left: 5em;
    margin-top: 3em;
}

.runs{
    font-size: .8em;
    font-style: italic;
}

.p-thin{
    font-weight: 300;
}

/* T_head flexbox */
.t_head{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
}

.affixlist{
    flex-direction: column;
    padding-left: 0;
}

.affixtext{
    justify-content: center;
    padding-top: 1rem;
    padding-left: 0;
    text-align: center;
}

.affiximg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: .5px;
    filter: drop-shadow(3px 2px 3px rgb(26, 26, 26));
    width: 62px;
    transition: filter 0.05s;
}

td img{
    border-radius: 4px;
}

/* Affix nav / secondary nav styling */

.affixnav > ul:nth-of-type(1) > li:nth-of-type(1){ 
    margin-left: 48px;
}

.affixnav > ul:nth-of-type(3) > li:nth-of-type(5){
    margin-right: 48px;
}

.affixnav ul{
    flex: 1 1;
}

.affixnav > ul:nth-of-type(3){
    justify-content: flex-end;
}

/* Weekly affix styling */
.affiximg > img{
    padding-left: 1em;
    width: 85px;
    border: none;
}

.affiximg > img:nth-of-type(1){
    margin-left: -1em;
}

/* Tlist category icon styling */
.t_head > img{
    border: none;
    filter: none;
    margin-right: 1em;
}

.d_ease{
    max-width: 32px;
    max-height: 48px;
    margin-top: .3em;
}

.tank{
    max-width: 40px;
    max-height: 48px;
    margin-top: .2em;
}

.heal{
    max-width: 43px;
    max-height: 43px;
    margin-top: .3em;
}

.mdps{
    max-width: 44px;
    max-height: 48px;
    margin-top: .3em;
}

.rdps{
    max-width: 55px;
    max-height: 50px;
}

.t_list{
    min-width: 30%;
}

.tier-header-text{
    position: absolute;
    margin-top: -1.7em;
    margin-left: .45em;
    font-weight: 900;
}

.tier-header-img{
    width: 60px;
    border: none;
    filter: none;
}

/* Tlist image hover */
td img:hover{
    filter: drop-shadow(0px 0px 7px rgb(167, 167, 167));
    border-style: solid;
    border-color: rgb(168, 168, 168);
    border-width: 1px;
}

/* Table layout */
th{
    width: 70px;
}

th h1{
    text-align: left;
}

td > a{
    margin: .7em;
}

table{
    border-width: 1px;
    border-style: solid;
    table-layout: fixed;
}


/* Footer styling */
.footer{
    background-image: url(assets/footer/footer-img.png);
    padding: 2em;
    margin-top: 3em;
}

.socials{
    padding-left: 0;
    margin-bottom: 2em;
    flex-wrap: wrap;
    gap: 1em 1.5em;
}

.footer > p{
    font-weight: 300;
    font-size: .9em;
}


/* Dropdown nav styling */

.top-build{
    padding-left: .5em;
}

.dropdown-item > img{
    max-width: 25px;
    filter: none;
    margin-right: .7em;
    /* border: #FF7A00 solid 1px; */
    border: none;
}

.dropdown-menu > li{
    padding: 0;
}

/* Video styling */

.video-container{
    max-width: 100%;
    display: flex;
    margin-bottom: -6px;
}

.video-crop{
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.main-video{
    object-fit: cover;
    width: 100em;
    filter: brightness(50%);
    z-index: 0;
}

.index-ft{
    margin-top: 0px;
}

/* Center videos as viewport width changes */

.main-video {
    margin-left: calc(-45em + 14vw);
}

/* Hover styling */

.video-crop:hover .main-video{
    filter: brightness(75%);
}

/* Over-video header text */

.video-crop h1{
    margin: 0;
    padding: 0;
    padding-bottom: .1em;
}

.video-crop h4{
    font-weight: 100;
    font-size: 1.2rem;
}

.video-crop div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 1;
    color: white !important;

    /* Center icons above text */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* Over-video icons */

.raid-icon{
    filter: drop-shadow(0 0 15px #ff8447);
}

.raid-text .shadow2{
    padding: 9px;
}

.mplus-icon{
    width: 5em;
    filter: drop-shadow(0 0 17px #ff8447);
}

.pvp-icon{
    width: 5em;
    filter: drop-shadow(0 0 18px #ff732d);
}

/* Over-video text drop shadow */

.video-crop h1,h4{
    filter: drop-shadow(4px 4px 4px #000);
}

/* Navbar styling */

.pgnav{
    justify-content: center;
}

.utilnav{
    justify-content: flex-end;
}

.utilnav li:nth-of-type(n+2){
    margin-right: 48px;
}

.navbar-brand{
    margin-right: 0 !important;
}

.navbar-brand, .utilnav, .pgnav{
    flex: 1 1;
}

/* --Responsiveness-- */

/* Breakpoint 1055px */
@media screen and (max-width: 1070px){

    /* Navbar */
    .navbar{
        flex-wrap: wrap !important;
    }

    .navbar-brand{
        flex-basis: 100%;
    }

    .pgnav{
        margin-left: 40px; /* Accounting for 8px left padding from li */
        justify-content: flex-start;
        flex-basis: 50%;
    }

    .main{
        margin-bottom: 0;
    }
}

/* Breakpoint 750px */
@media screen and (max-width: 750px){

    /* Videos */
    .video-container{
        flex-direction: column;
        max-height: calc(100vh - 100px);
    }

    .main-video{
        margin-top: -10em;
        margin-left: calc(-45em + 48vw);
    }

    .video-crop div{
        flex-flow: row;
        column-gap: 1em;
        width: 70vw;
        justify-content: space-between;
    }

    .video-crop div h4{
        margin-bottom: 0;
        font-weight: 400;
    }
}

/* Breakpoint 590px */
@media screen and (max-width: 590px){
    /* Navbar */
    .navbar{
        flex-direction: column;
        align-items: flex-start !important;
    }

    .utilnav{
        flex-direction: row !important;
        margin-left: 40px; /* Accounting for 8px left padding from li */

    }

    .pgnav{
        order: 3;
    }
    
    .navbar-brand{
        margin-bottom: 8px;
    }
    
    .navbar .pgnav a, .navbar .utilnav a{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    /* Videos */
    .video-container{
        max-height: calc(100vh - 59px);
    }

    /* Behavior for index only */
    .ind-pgnav{
        display: none !important;
    }

    .ind-navbar{
        flex-direction: row;
    }

    .ind-a-main{
        flex-basis: 30%;
    }

    .ind-utilnav{
        justify-content: flex-start;
        margin-top: auto;
        margin-bottom: auto !important;
    }
}